body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffff;
    margin: 0px;
    text-align: center;
}

main {
    flex: 1;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px; /* Add padding to prevent content from touching edges */
}

header {
    background-color: #ffff;
    color: black;
    padding: 10px 0 ;
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    text-align: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 100px;
}

nav li {
    margin: 0;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #ffe6ea;
    color: black; 
}

nav a.active {
    text-decoration: underline; 
}

main {
    background-color: #ffff;
}

.section {
    padding: 40px 0;
}

/* Add spacing between paragraphs */
.section p {
    margin-bottom: 20px; 
}

/* Content Wrapper for main section */
.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows wrapping for smaller screens */
    gap: 20px; /* Adds spacing between image and text */
}

/* Headshot styling */
.headshot {
    max-width: 200px; /* Limit image size */
    width: 100%; /* Ensure responsiveness */
    border-radius: 50%; /* Make the image circular */
}

/* Text content styling */
.text-content {
    flex: 1; /* Allows text to take up available space */
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #ffe6ea;
}

footer .container {
    display: flex;
    justify-content: center;
}

/* General Link Styling */
a {
    color: black; 
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    
.content-wrapper{
padding :
